PORT=5000
NODE_ENV=development
# Local example:
# MONGODB_URI=mongodb://127.0.0.1:27017/rohail_portfolio
# Atlas (online) example:
MONGODB_URI=mongodb+srv://USERNAME:PASSWORD@CLUSTER.mongodb.net/rohail_portfolio?retryWrites=true&w=majority
JWT_SECRET=change_this_to_a_long_random_secret_at_least_32_chars
JWT_EXPIRES_IN=1d
ADMIN_EMAIL=admin@rohail.dev
ADMIN_PASSWORD=RohailAdmin@2026
CLIENT_URL=http://localhost:5173
COOKIE_SECURE=false
